/* luckiest-guy-latin-400-normal */
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/luckiest-guy@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/luckiest-guy@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 54, 10);
  color: silver;
  font-family: 'Luckiest Guy';
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
  /*Did not know, but overflow: hidden allows scroll bars to be hidden*/
}

h1 {
  margin: 20px 0 0;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.figure-container {
  fill: transparent;
  stroke: silver;
  stroke-width: 8px;
  stroke-opacity: 70%;
  /* linecap is self explanatory,  caps the line edges.*/
  stroke-linecap: round;

}

.figure-part {
  display: none;
}

/* Wrong Letters */
.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 35px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}


.letter {
  color: red;
  border-bottom: red solid 4px;
  display: inline-flex;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  margin: 0 4px 4px;
  padding-top: 70px;
  padding-bottom: 10px;
  height: 50px;
  width: 20px;
}

/* POP-You Win! */
.popup-container {
  background-image: linear-gradient(to right, rgba(141, 42, 42, 0.8), rgb(209, 17, 17));
  position: fixed;
  top: 5%;
  bottom: 5%;
  right: 10%;
  left: 10%;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 40px;
  font-size: 20px;
  padding: 10px;
}

.popup {
  background: rgba(36, 84, 32, 0.4);
  border: solid black;
  border-color: black;
  border-radius: 10px;
  box-shadow: 0 30px 20px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;

}

#play-button {
  cursor: pointer;
  background-color: silver;
  color: black;
  border-radius: 5px;
  width: 90%;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 14px;
}

#play-button:active {
  transform: scale(0.90);
}

#play-button:focus {
  outline: 0;
}

/* Notification of already chosen letters */
.letter-used-container {
  background-image: linear-gradient(to right, rgba(141, 42, 42, 0.8), rgb(209, 17, 17));
  border: solid black;
  border-radius: 10px 10px 0 0;
  padding: 30px;
  font-size: 20px;
  position: absolute;
  bottom: -100px;
  transition: transform 0.4s ease-in-out;
}

.letter-used-container p {
  margin: 0;
}

.letter-used-container.show {
  transform: translateY(-100px);
}